/* This is the universal selector that will target all elements on the webapge. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This will only target the body of the webpage, turning the background color the specific hexadecimal value. */
body {
    background-color: #d9dcd6;
}
/* This will target the .header class, changing the padding, font-family, background-color, and text color. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This will target the .header class as well as the h1 element, turning the display to inline-flex and the font-size to 48px. */
.header h1 {
    display: inline-flex;
    font-size: 48px;
}
/* This will target the .header and .seo classes, as well as the h1 element, turning the text color the specified hexadecimal value. */
.header h1 .seo {
    color: #d9dcd6;
}
/* This will target the .header class and nav elements, adjusting the padding-top, margin-right, float, font-family, and font-size values. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This will target the .header class and nav and ul elements, adjusting the list-style-type as specified. */
.header nav ul {
    list-style-type: none;
}
/* This will target the .header class and the nav, ul, and li elements and adjust the display and margin-left values. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This will target the link text, turning it the hexadecimal value and assigning no text-decoration. */
a {
    color: #ffffff;
    text-decoration: none;
}
/* This will target the paragraph elements and change the font-size to 16px. */
p {
    font-size: 16px;
}
/* This will target the .hero class and adjust the height, width, margin-bottom, background-image, background-size, and background-position values. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This will target the .float-left class and adjust the float and margin-right values. */
.float-left {
    float: left;
    margin-right: 25px;
}
/* This will target the .float-right class and adjust the float and margin-left values. */
.float-right {
    float: right;
    margin-left: 25px;
}
/* This will target the .content class and adjust the width, display, and margin-left values. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This will target the .benefits class and adjust the margin-right, padding, clear, float, width, height, font-family, and background-color values. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* This will target the .benefit-lead, .benefit-brand, and .benefit-cost classes and adjust the margin-bottom and text color values. */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This will target the .benefit-lead h3, .benefit-brand h3, and .benefit-cost h3 classes and adjust the margin-bottom and text-align values. */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
}
/* This will target the .benefit-lead img, .benefit-brand img, and .benefit-cost img classes and adjust the display, margin, and max-width values. */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This will target the .search-engine-optimization, .online-reputation-management, and .social-media-marketing classes and adjust the margin-bottom, padding, height, font-family, background-color, and text color values. */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This will target the .search-enging-optimization img, .online-reputation-management img, and .social-media-marketing img classes and adjust the max-height values.  */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img{
    max-height: 200px;
}
/* This will target the .search-enging-optimization h2, .online-reputation-management h2, and .social-media-marketing h2 classes and adjust the margin-bottom and font-size values. */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This will target the .footer class, and adjust the padding, clear, font-family, and text-align values. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* This will target the .footer class and h2 element, and adjust the font-size value. */
.footer h2 {
    font-size: 20px;
}
